<mat-accordion>
  <mat-expansion-panel *ngFor="let article of articles">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{article.date | date :  "d. MMMM"}}
      </mat-panel-title>
      <mat-panel-description>
        {{article.title}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>{{article.author}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{article.sourceName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{article.description}}</mat-list-item>
    </mat-list>
  </mat-expansion-panel>

</mat-accordion>
